@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.logo, .content, .input {
  display: flex;
  justify-content: center;
}
.left-links {
  display: flex;
  justify-content: left;
  display: inline-block;
}
.right-links {
  display: flex;
  justify-content: right;
  display: inline-block;
}
.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer {
  position:absolute;
    width:100%;
    bottom:0px;
}
ul {
  list-style: none
}

a:link {
  text-decoration: none;
  display: inline-block;
  color: grey;
}

a:visited {
  text-decoration: none;
  color: grey;
}
li {
  padding:5px 10px;
  display: inline-block;
}
header {
  display: inline-block;
  padding-top: 20px;
}